<section class="channel-h5">
	<div class="channel-h5__header">
		<p class="channel-h5__title">
			本周最火
		</p>
		<div class="tab">
			<a class="tab__on" href="javascript:">男</a>
			<a href="javascript:">女</a>
		</div>
	</div>
	<ul class="list-h5">
		<li v-for="item in hot" >
			<div class="book-h5">
				<a href="/book?id={{ item.fiction_id }}">
					<div class="book-h5__cover">
						<img v-bind:src="item.cover" alt="{{item.title}}">
						<p class="book-h5__finish">完结</p>
					</div>
					<div class="book-h5__info">
						<p class="book-h5__title">{{item.title}}</p>
						<p class="book-h5__author">{{item.authors}}</p>
						<p class="book-h5__summary">{{item.summary}}</p>
						<div class="book-h5__wrap">
							<div class="book-h5__tag" v-for="tag in item.tags">{{tag}}</div>
						</div>
					</div>
				</a>
			</div>
		</li>
	</ul>
</section>